{% extends "global/base.html" %}
{% block contato %}

<section class="hero">
    <div class="container">
        <h2>chama no whatsApp</h2>
        <p>O melhor lugar para assistir seus filmes e séries favoritos.</p>
        
        <a href="https://wa.me/+5585997941038/?text=ola, estou enteressador!"class="btn">Enviar mensagem!</a>

        

    </div>
</section>
<section class="contact">
    <div class="container">
        <h2>Contato:</h2>
        <p>Entre em contato conosco para obter mais informações, suporte técnico ou assistência com sua assinatura. Estamos aqui para ajudar você a aproveitar ao máximo sua experiência de entretenimento online.</p>
        <ul>
            <li>Email: stream@gmail.com</li>
            <li>Telefone: +5585997941038</li>
            
        </ul>
    </div>
</section>


{% endblock contato %}
