{% extends "global/base.html" %}

{% block filmes %}

<section class="catalogo">
                         
                          <section class="serie-info">
                            
                          <div class="container"> 
                            <h1>Filmes</h1>
      <img src="https://upload.wikimedia.org/wikipedia/pt/f/fe/The_Bourne_Ultimatum_%282007_film_poster%29.jpg" alt="O Ultimato Bourne">
      <h3>O Ultimato Bourne</h3>
      <p>O terceiro filme da franquia Bourne, estrelado por Matt Damon como Jason Bourne, um agente de operações especiais em busca de sua verdadeira identidade.</p>
      <p>"O Ultimato Bourne" é o terceiro filme da série de espionagem baseada nos romances de Robert Ludlum. Lançado em 2007, é uma sequência direta de "A Supremacia Bourne". Dirigido por Paul Greengrass e estrelado por Matt Damon como Jason Bourne, o filme continua a história do ex-agente da CIA que está em busca de sua verdadeira identidade enquanto enfrenta os agentes e as organizações governamentais que o perseguem.</p>
      <p>O enredo de "O Ultimato Bourne" gira em torno de Jason Bourne descobrindo mais sobre seu passado enquanto tenta sobreviver às várias tentativas de assassinato. Ele segue pistas que o levam a Londres, Madri, Tânger e Nova York, enquanto ele tenta desvendar os segredos que o envolvem. Ao longo do caminho, Bourne confronta figuras chave de seu passado e descobre a verdade por trás de seu treinamento como assassino.</p>
      <p>O filme é conhecido por suas cenas de ação intensas e realistas, bem como por sua abordagem cinematográfica que utiliza câmera na mão e edição rápida para criar uma sensação de urgência e imersão. Além de Damon, o elenco inclui Joan Allen, Julia Stiles, David Strathairn, e Albert Finney, entre outros.</p>
      <p></p>
      <p>"O Ultimato Bourne" foi aclamado pela crítica e foi um sucesso de bilheteria, consolidando ainda mais a franquia Bourne como uma das principais séries de filmes de espionagem da época. Sua popularidade também levou a mais filmes na série, incluindo "O Legado Bourne" e "Jason Bourne".</p>
    
                          </div></section>

                          <section class="serie-info">            
                             <div class="container">
      <img src="https://aventurasnahistoria.uol.com.br/media/_versions/entretenimento/ryan2_widemd.jpg" alt="Filme 2">
      <h3>O Resgate do Soldado Ryan</h3>
      <p>Dirigido por Steven Spielberg, este filme retrata o desembarque na Normandia durante a Segunda Guerra Mundial e segue um grupo de soldados em uma missão de resgate.</p>
      <p>"O Resgate do Soldado Ryan" é um filme de guerra lançado em 1998, dirigido por Steven Spielberg e estrelado por Tom Hanks, Tom Sizemore, Edward Burns, Matt Damon, entre outros. O filme é ambientado durante a Segunda Guerra Mundial e narra a missão de um grupo de soldados americanos para encontrar e resgatar o soldado James Ryan, cujos três irmãos foram mortos em combate.</p>

      <p>A história começa com o desembarque na Praia de Omaha, na Normandia, durante o famoso Dia D, em 6 de junho de 1944. A cena inicial retrata de forma visceral e realista o caos e a carnificina da batalha, mostrando o sofrimento e o sacrifício dos soldados aliados na tentativa de capturar a praia ocupada pelos nazistas.</p>

      <p>Após o desembarque, o Capitão John Miller (interpretado por Tom Hanks) recebe a missão de encontrar e trazer de volta para casa o Soldado James Ryan (interpretado por Matt Damon), cujos três irmãos foram mortos em combate. Ao longo do filme, o grupo de soldados liderado por Miller enfrenta diversos desafios e situações de perigo enquanto avança pelo território inimigo em busca de Ryan.</p>

      <p>O filme é conhecido por suas cenas de batalha intensas e realistas, assim como por explorar temas como sacrifício, heroísmo, camaradagem e os efeitos psicológicos da guerra nos soldados. "O Resgate do Soldado Ryan" recebeu aclamação da crítica e foi um sucesso de bilheteria, ganhando cinco Oscars, incluindo Melhor Diretor para Steven Spielberg. É amplamente considerado como um dos melhores filmes de guerra já feitos e um marco do cinema contemporâneo.</p>
    </div>
  </section>


  <section class="serie-info">
      <div class="container">
      <img src="https://ovicio.com.br/wp-content/uploads/2022/06/20220623-ovicio-operacao-invasao-2-555x555.jpg" alt="Filme 1">
      <h3>Operação Invasão</h3>
      <p>Um filme de ação indonésio que segue um grupo de policiais que invadem um prédio controlado por criminosos, enfrentando uma série de perigos mortais.</p>

      <p>Claro, "Operação Invasão" (ou "Saat po long" em cantonês) é um filme que se destaca por suas intensas cenas de ação e uma trama repleta de reviravoltas. Dirigido por Wilson Yip e estrelado por Donnie Yen, o filme foi lançado em 2011 e rapidamente se tornou um sucesso tanto entre os críticos quanto entre o público.
        
        A história se desenrola em torno de um detetive da polícia de Hong Kong, interpretado por Donnie Yen, que se infiltra em uma perigosa gangue tríade para investigar suas atividades criminosas. No entanto, sua missão é comprometida e ele se vê preso em meio a uma luta pela sobrevivência enquanto tenta desvendar os segredos da organização criminosa.</p>

        <p>O filme é conhecido por suas cenas de luta realistas e coreografadas com maestria, muitas das quais são protagonizadas pelo próprio Donnie Yen, que também serviu como coreógrafo de ação. As sequências de luta são habilmente executadas e adicionam uma intensidade palpável ao filme.</p>

        <p>Além das cenas de ação, "Operação Invasão" também se destaca por sua narrativa envolvente e pelos personagens complexos. A trama é repleta de reviravoltas e momentos de tensão, mantendo o espectador intrigado do início ao fim.</p>

        <p>O filme foi aclamado pela crítica por sua direção sólida, performances convincentes e coreografias de luta impressionantes. Ele também ajudou a solidificar o status de Donnie Yen como um dos principais astros de ação de Hong Kong.</p>

        <p>Devido ao seu sucesso, "Operação Invasão" gerou uma franquia com várias sequências, que continuaram a explorar o mundo sombrio das tríades e a destacar as habilidades de luta de Donnie Yen. No geral, o filme é uma emocionante mistura de ação, suspense e drama, que certamente cativará os fãs do gênero.</p>
      </div></section>




      <section class="serie-info">
        <div class="container">
      <img src="https://img.freepik.com/fotos-premium/o-filme-gladiador-e-o-primeiro-filme-da-serie_670382-8980.jpg" alt="Filme 2">
      <h3>Gladiador</h3>
      <p>Dirigido por Ridley Scott e estrelado por Russell Crowe, este épico de ação acompanha a jornada de um general romano que busca vingança contra o imperador corrupto que assassinou sua família e o condenou à escravidão.</p>
      <p>"Gladiador" é um épico de ação e drama dirigido por Ridley Scott e lançado em 2000. O filme é estrelado por Russell Crowe, que interpreta o protagonista, o general romano Maximus Decimus Meridius. A história se passa no século II d.C. e segue Maximus enquanto ele luta pela vingança contra o imperador corrupto Commodus, interpretado por Joaquin Phoenix, que assassinou sua família e o condenou à escravidão.</p>

      <p>O enredo de "Gladiador" é uma mistura de intriga política, batalhas épicas e drama pessoal. Após escapar da morte e se tornar um gladiador famoso, Maximus se vê envolvido em uma série de eventos que o levam de volta a Roma, onde ele busca justiça contra Commodus e a restauração da República Romana.</p>

      <p>O filme é elogiado por sua cinematografia impressionante, direção habilidosa de Ridley Scott e performances cativantes do elenco principal. Russell Crowe oferece uma atuação poderosa como o herói atormentado Maximus, enquanto Joaquin Phoenix entrega uma performance memorável como o vilão Commodus.</p>

      <p>Além disso, as cenas de ação de "Gladiador", incluindo as batalhas no Coliseu, são espetaculares e visualmente impactantes, contribuindo para a atmosfera épica do filme.

        "Gladiador" foi um grande sucesso de bilheteria e também foi aclamado pela crítica, ganhando vários prêmios, incluindo o Oscar de Melhor Filme e Melhor Ator para Russell Crowe, além de prêmios técnicos em categorias como direção de arte, figurino e efeitos visuais. O filme se tornou um clássico do gênero épico e continua a ser apreciado pelo público até hoje.</p>
      </div></section>
    <!-- Adicione mais filmes conforme necessário -->



    <section class="serie-info">
    <div class="container">
        <img src="https://www.gamereactor.pt/media/10/dungeonsdragons_3991063.jpg" alt="Filme 1">
        <h3>Feitiço do Tempo</h3>
        <p> Uma comédia clássica estrelada por Bill Murray como um homem preso em um loop temporal, revivendo o mesmo dia repetidamente.</p>
        <p>"Feitiço do Tempo" é uma comédia clássica lançada em 1993, dirigida por Harold Ramis e estrelada por Bill Murray e Andie MacDowell. No filme, Murray interpreta Phil Connors, um repórter do tempo rabugento e egocêntrico que é enviado para cobrir o Dia da Marmota na pequena cidade de Punxsutawney, Pensilvânia. No entanto, ele fica preso em um ciclo temporal bizarro, onde ele acorda repetidamente no mesmo dia, o Dia da Marmota, vivendo os mesmos eventos repetidamente.</p>

        <p>Ao longo do filme, Phil tenta de todas as maneiras possíveis escapar desse ciclo temporal, mas sem sucesso. Enquanto isso, ele começa a perceber que suas ações têm consequências e começa a usar seu tempo repetido para melhorar a si mesmo e as vidas dos outros ao seu redor, incluindo seu interesse romântico, Rita Hanson, interpretado por Andie MacDowell.</p>

        <p>O filme combina elementos de comédia, fantasia e drama para explorar temas como redenção, crescimento pessoal e o valor do tempo. Bill Murray entrega uma performance brilhante como Phil Connors, navegando habilmente entre o humor sarcástico e os momentos de reflexão mais sérios.</p>

        <p>"Feitiço do Tempo" recebeu aclamação da crítica e se tornou um sucesso de bilheteria. A química entre o elenco principal, o roteiro inteligente e a direção habilidosa de Harold Ramis contribuíram para o apelo duradouro do filme. Ao longo dos anos, ele se tornou um clássico cult e é frequentemente citado como um dos melhores filmes de comédia de todos os tempos.</p>
      </div></section>



      <section class="serie-info">
        <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/pt/f/f5/Police_Academy_4_Citizens_on_Patrol.jpg" alt="Filme 2">
        <h3>Loucademia de Polícia</h3>
        <p>Uma série de filmes que seguem um grupo desajustado de recrutas da polícia, repleto de humor físico e situações hilariantes.</p>

        <p>"Loucademia de Polícia" é uma franquia de comédia cinematográfica que começou com o lançamento do primeiro filme em 1984. Dirigido por Hugh Wilson, o filme original apresenta uma visão humorística e satírica da vida em uma academia de treinamento para novos policiais.</p>
        
        <p>A trama gira em torno de um grupo heterogêneo de recrutas que se matriculam na Academia de Polícia para se tornarem policiais. Cada personagem tem suas próprias peculiaridades e habilidades únicas, o que leva a uma série de situações cômicas e absurdas ao longo do filme. A comédia é construída em torno de piadas físicas, gags visuais e humor irreverente.</p>

        <p>O elenco do filme original inclui Steve Guttenberg, como o protagonista Carey Mahoney, bem como Bubba Smith, David Graf, Michael Winslow e outros. Juntos, esses personagens formam um grupo diversificado que se mete em várias confusões enquanto tenta completar seu treinamento policial.</p>

        <p>"Loucademia de Polícia" foi um grande sucesso de bilheteria e gerou várias sequências ao longo dos anos, com um total de sete filmes lançados até 1994. Embora a qualidade possa variar de filme para filme, a franquia como um todo é conhecida por seu humor leve e descompromissado, além de proporcionar muitas risadas ao longo de suas diversas instalações.</p>
      </div></section>



      <section class="serie-info">
        <div class="container">
        <img src="https://m2.paperblog.com/i/182/1821365/intervista-a-heather-graham-jade-di-una-notte-T-D4cBRf.jpeg" alt="Filme 1">
        <h3>Se Beber, Não Case!</h3>
        <p>Uma comédia sobre um grupo de amigos que acorda em Las Vegas sem memória da noite anterior e tenta desvendar o que aconteceu.</p>
        <p>"Se Beber, Não Case!" é uma comédia lançada em 2009, dirigida por Todd Phillips. O filme é estrelado por Bradley Cooper, Ed Helms, Zach Galifianakis e Justin Bartha. A trama gira em torno de um grupo de amigos que viaja para Las Vegas para uma despedida de solteiro, mas acorda na manhã seguinte sem memória do que aconteceu na noite anterior e sem encontrar o noivo.</p>

        <p>A partir daí, o filme segue os amigos enquanto eles tentam retraçar seus passos e encontrar pistas sobre o que aconteceu na noite anterior, enfrentando uma série de situações absurdas e engraçadas ao longo do caminho. O humor do filme é baseado em eventos surreais, surpresas constantes e diálogos hilariantes entre os personagens.</p>

        <p>"Se Beber, Não Case!" foi um grande sucesso de bilheteria e crítica, elogiado por sua originalidade, roteiro inteligente e performances do elenco. A química entre os personagens principais é particularmente destacada como um ponto forte do filme, e Zach Galifianakis recebeu elogios por sua interpretação como o excêntrico Alan.</p>

        <p>O sucesso do filme levou a duas sequências, "Se Beber, Não Case! Parte II" (2011) e "Se Beber, Não Case! Parte III" (2013), que continuaram a explorar as loucas aventuras do grupo de amigos em diferentes cenários. A franquia como um todo é considerada uma das comédias mais populares e bem-sucedidas dos anos 2000.</p>
      </div></section>




      <section class="serie-info">
        <div class="container">
        <img src="https://br.web.img3.acsta.net/medias/nmedia/18/95/24/70/20391832.jpg" alt="Filme 2">
        <h3>Quanto Mais Idiota Melhor</h3>
        <p>Uma comédia estrelada por Jim Carrey e Jeff Daniels como dois amigos desajeitados em uma viagem maluca para devolver uma maleta perdida.</p>

        <p>"Quanto Mais Idiota Melhor" é uma comédia lançada em 1994, dirigida por Peter Farrelly e estrelada por Jim Carrey e Jeff Daniels nos papéis principais. O filme é conhecido por seu humor absurdo e situações extremamente bobas.</p>

        <p>A trama segue dois amigos desajeitados e não muito inteligentes, Lloyd Christmas (interpretado por Jim Carrey) e Harry Dunne (interpretado por Jeff Daniels), que embarcam em uma jornada para devolver uma maleta perdida a sua dona, Mary Swanson. No entanto, eles não têm ideia de que a maleta está cheia de dinheiro e que estão sendo perseguidos por criminosos.</p>

        <p>O filme é repleto de piadas grosseiras, absurdas e humor físico, e é caracterizado pelas performances exageradas de Carrey e Daniels. A química entre os dois atores é um dos pontos fortes do filme, e sua habilidade em interpretar personagens bobos e desajeitados contribui para muitos momentos engraçados.</p>

        <p>"Quanto Mais Idiota Melhor" foi um sucesso de bilheteria e se tornou um clássico cult ao longo dos anos. Ele gerou uma sequência, "Debi & Lóide 2" (ou "Quanto Mais Idiota Melhor 2") lançada em 2014, que reuniu Carrey, Daniels e os diretores originais. Apesar das críticas mistas em relação à sequência, o filme original continua sendo uma das comédias mais populares dos anos 90.</p>
      </div></section>



      <section class="serie-info">
        <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/pt/6/6d/Kill_Bill_poster.jpg" alt="Filme 1">
        <h3>Kill Bill: Volume 1</h3>
        <p> Dirigido por Quentin Tarantino e estrelado por Uma Thurman, este filme é uma explosão de ação que segue a Noiva, uma ex-assassina que busca vingança contra sua antiga equipe de assassinos depois de ser deixada para morrer no dia de seu casamento.</p>

        <p>"Kill Bill: Volume 1" é um filme de ação e vingança lançado em 2003, escrito e dirigido por Quentin Tarantino. É o primeiro de dois volumes que compõem a história completa de "Kill Bill". O filme é estrelado por Uma Thurman no papel principal, interpretando a personagem conhecida apenas como A Noiva, que busca vingança contra sua antiga equipe de assassinos, conhecida como O Esquadrão Assassino de Cobra, liderada por Bill (interpretado por David Carradine).</p>

        <p>A trama de "Kill Bill: Volume 1" segue A Noiva enquanto ela acorda de um coma de quatro anos e embarca em uma jornada para se vingar daqueles que a traíram. O filme é conhecido por sua narrativa não linear, estilo visual distintivo, diálogos afiados e cenas de ação estilizadas, características marcantes do estilo de direção de Quentin Tarantino.</p>

        <p>Ao longo do filme, A Noiva enfrenta uma série de desafios, encontrando e eliminando os membros restantes do Esquadrão Assassino de Cobra, cada um com suas próprias habilidades e características únicas. As cenas de luta são coreografadas com maestria e são acompanhadas por uma trilha sonora vibrante que complementa perfeitamente o estilo do filme.</p>

        <p>"Kill Bill: Volume 1" foi um sucesso de crítica e bilheteria e é elogiado por sua originalidade, estilo visual e performances do elenco, especialmente a de Uma Thurman. O filme foi indicado a vários prêmios e continua a ser considerado uma das obras mais emblemáticas de Quentin Tarantino. Ele estabeleceu o palco para o aguardado segundo volume, "Kill Bill: Volume 2", que foi lançado no ano seguinte.</p>
      </div>
      
  </section>
  
  
  

    <section class="hero">
      <div class="container">
          <h2>chama no whatsApp</h2>
          <p>O melhor lugar para assistir seus filmes e séries favoritos.</p>
          
          <a href="https://wa.me/+5585997941038/?text=ola, estou enteressador!"class="btn">Enviar mensagem!</a>
  
          
  
      </div>
  </section>

{% endblock filmes %}