{% extends "global/base.html" %}
{% block programa %}
                            <!-- AQUI VOCE BOTA O ANUCIO QUE VAI PASSA HOJE NO IPTV -->
                            <div class="movie-list">
                                <div class="movie">
                                    
                                    <h3></h3>
                                    <p> </p>
                                    <img src="banner-28-03.jpeg" alt="Filme 1">
                                </div>
                                <div class="movie">
                                    
                                    <h2>jogos</h2>
                                    <p></p>
                                    <img src="banner-28-08-01.jpeg" alt="Filme 2">
                                    
                                </div>
                                <!-- Adicione mais filmes conforme necessário -->
                            </div>
                            
                            

                            <section class="hero">
                                <div class="container">
                                    <h2>chama no whatsApp</h2>
                                    <p>O melhor lugar para assistir seus filmes e séries favoritos.</p>
                                    
                                    <a href="https://wa.me/+5585997941038/?text=ola, estou enteressador!"class="btn">Enviar mensagem!</a>
                            
                                    
                            
                                </div>
                            </section>

{% endblock programa %}
