{% extends "global/base.html" %}

{% block series %}

<section class="serie-info">
    <div class="container">
        <img src="https://www.bergamonews.it/photogallery_new/images/2014/01/breaking-bad-tutti-gli-elementi-del-capolavoro-465250.large.jpg" alt="Breaking Bad">
        <div class="serie-details">
            <h2>Breaking Bad</h2>
            <p>Um professor de química do ensino médio se transforma em um fabricante de metanfetamina para garantir o futuro financeiro de sua família após ser diagnosticado com câncer terminal.</p>

            <p>"Breaking Bad" é uma aclamada série de televisão americana criada por Vince Gilligan, que foi ao ar pela primeira vez em 2008 e concluída em 2013. A série se concentra na história de Walter White, um professor de química do ensino médio que, após ser diagnosticado com câncer terminal, decide entrar para o mundo do tráfico de metanfetamina para garantir o futuro financeiro de sua família.</p>

            <p>Ao longo das cinco temporadas, "Breaking Bad" segue a transformação de Walter White, interpretado por Bryan Cranston, de um homem comum em um dos mais temidos e poderosos traficantes de drogas do sudoeste dos Estados Unidos, conhecido pelo pseudônimo "Heisenberg". Seu parceiro no crime é Jesse Pinkman, um ex-aluno, interpretado por Aaron Paul, que inicialmente era um traficante de drogas de pequeno porte.</p>

            <p>A série é elogiada por sua narrativa intensa e emocionante, personagens complexos e desenvolvimento de personagens, diálogos afiados e uma cinematografia impressionante. Ela mergulha profundamente na psique de Walter White e examina temas como moralidade, consequências de escolhas, a natureza do poder e da corrupção.</p>

            <p>Além disso, "Breaking Bad" é conhecida por sua construção cuidadosa de tensão e suspense, com reviravoltas surpreendentes em cada temporada, mantendo os espectadores envolvidos e ansiosos por mais.</p>

            <p>A série recebeu inúmeros prêmios e elogios da crítica ao longo de sua exibição, e é amplamente considerada uma das melhores séries de televisão já produzidas. Sua influência cultural é significativa, e ela continua a ser uma referência importante na história da televisão.</p>

            <p><strong>Breaking Bad</strong> está disponível para streaming na Netflix.</p>
        </div>
    </div>
</section>

<section class="serie-info">
    <div class="container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT28-UezLydzwuZ4nLfBvzC-cWOxKLVrM4LB4-45hJA_A&s" alt="Game of Thrones">
        <div class="serie-details">
            <h2>Game of Thrones</h2>
            <p>Baseada na série de livros "As Crônicas de Gelo e Fogo" de George R.R. Martin, esta série épica de fantasia acompanha as lutas de poder entre as famílias nobres de Westeros pelo Trono de Ferro.</p>

            <p>"Game of Thrones" é uma série de televisão americana baseada na série de livros "As Crônicas de Gelo e Fogo" escrita por George R.R. Martin. Criada por David Benioff e D.B. Weiss, a série estreou em 2011 e concluiu sua oitava e última temporada em 2019.</p>

            <p>A trama de "Game of Thrones" se passa em um mundo de fantasia medieval conhecido como Westeros, onde várias famílias nobres lutam pelo controle do Trono de Ferro e pelo domínio dos Sete Reinos. A série é repleta de intriga política, traição, guerra, magia e dragões, e apresenta uma ampla gama de personagens complexos e multifacetados.</p>

            <p>Ao longo de suas oito temporadas, "Game of Thrones" cativou o público com sua narrativa envolvente, reviravoltas surpreendentes e produção de alto nível, incluindo cenários deslumbrantes, figurinos elaborados e efeitos visuais impressionantes.</p>

            <p>A série é conhecida por sua natureza imprevisível e por não ter medo de matar personagens principais, o que a tornou ainda mais emocionante e intensa para os espectadores.</p>

            <p>"Game of Thrones" se tornou um fenômeno cultural, gerando uma enorme base de fãs ao redor do mundo e conquistando inúmeros prêmios, incluindo Emmy Awards e Globo de Ouro. Apesar de algumas críticas à última temporada, a série é amplamente considerada uma das melhores e mais influentes produções da história da televisão.</p>

            <p><strong>Game of Thrones</strong> está disponível para streaming na HBO Max.</p>
        </div>
    </div>
</section>

<section class="serie-info">
    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/pt/a/a0/Friends_1%C2%AA_temporada.jpg" alt="Friends">
        <div class="serie-details">
            <h2>Friends</h2>
            <p>Esta comédia clássica acompanha um grupo de amigos que vivem em Nova York enquanto enfrentam os altos e baixos da vida, amor e carreira.</p>

            <p>"Friends" é uma série de comédia de situacional americana que foi ao ar originalmente de 1994 a 2004. Criada por David Crane e Marta Kauffman, a série é ambientada na cidade de Nova York e segue a vida de seis amigos: Rachel, Ross, Monica, Chandler, Joey e Phoebe.</p>

            <p>A série se concentra em seus relacionamentos, carreiras, altos e baixos na vida amorosa e as situações cômicas que enfrentam juntos. Cada personagem tem sua própria personalidade distintiva, que contribui para o humor e o calor da série.</p>

            <p>Ao longo de suas dez temporadas, "Friends" ganhou uma base de fãs dedicada e se tornou uma das séries de comédia mais populares e duradouras da televisão. A química entre o elenco principal, a escrita afiada e os momentos memoráveis tornaram-se marcos da cultura pop.</p>

            <p>Além disso, a série abordou questões importantes, como amizade, amor, carreira, família e autodescoberta, de uma maneira autêntica e emocionante.</p>

            <p>Após o término da série, "Friends" continuou a ser transmitida em reprises em todo o mundo e ganhou ainda mais popularidade com novas gerações de espectadores, solidificando seu lugar como um clássico da televisão.</p>

            <p><strong>Friends</strong> está disponível para streaming na HBO Max.</p>
        </div>
    </div>
</section>

<section class="serie-info">
    <div class="container">
        <img src="https://img.promipool.de/www-promipool-de/image/upload/c_fit,h_3000,w_1600/q_auto:eco/f_jpg/stranger_things_cast_fpjff643cf" alt="Stranger Things">
        <div class="serie-details">
            <h2>Stranger Things</h2>
            <p>Uma série de suspense e ficção científica que se passa na década de 1980, onde um grupo de amigos se envolve em eventos sobrenaturais e estranhos acontecimentos após o desaparecimento de um deles.</p>

            <p>"Stranger Things" é uma série de televisão de ficção científica e suspense lançada em 2016, criada pelos irmãos Matt e Ross Duffer, conhecidos como os Duffer Brothers. A série é produzida e distribuída pela Netflix.</p>

            <p>A trama se passa na fictícia cidade de Hawkins, no estado de Indiana, durante os anos 1980. A história começa com o desaparecimento inexplicável de um jovem chamado Will Byers. Enquanto sua mãe, amigos e a polícia local procuram por ele, eles encontram uma garota com habilidades psíquicas extraordinárias chamada Eleven (Onze). À medida que a história se desenrola, é revelado que o desaparecimento de Will está ligado a experimentos secretos realizados pelo governo em um laboratório nas proximidades, que resultaram na abertura de um portal para um mundo paralelo chamado "O Mundo Invertido".</p>

            <p>A série é conhecida por sua atmosfera nostálgica dos anos 80, com referências a filmes clássicos da época, música, cultura pop e estilo visual. Ela combina elementos de horror, suspense, ficção científica e aventura, criando uma experiência cativante para o público.</p>

            <p>"Stranger Things" é elogiada por sua escrita inteligente, personagens bem desenvolvidos e performances convincentes do elenco, que inclui Winona Ryder, David Harbour, Finn Wolfhard, Millie Bobby Brown, entre outros. A série ganhou vários prêmios e conquistou uma base de fãs dedicada em todo o mundo.</p>

            <p>Desde o seu lançamento, "Stranger Things" tornou-se um fenômeno cultural e uma das séries mais populares da Netflix. Ela continuou a cativar os espectadores com múltiplas temporadas, cada uma explorando novos mistérios e perigos enquanto mantém a essência única que a tornou tão querida pelo público.</p>

            <p><strong>Stranger Things</strong> está disponível para streaming na Netflix.</p>
        </div>
    </div>
</section>

<section class="serie-info">
    <div class="container">
        <img src="https://m.media-amazon.com/images/I/81NK3yCvMJL._AC_UF894,1000_QL80_.jpg" alt="The Office">
        <div class="serie-details">
            <h2>The Office</h2>
            <p>Uma comédia de escritório que segue a vida cotidiana dos funcionários da empresa de papel Dunder Mifflin em Scranton, Pensilvânia. A série é filmada no estilo de um documentário, com situações hilariantes e personagens memoráveis.</p>

            <p>"The Office" é uma série de comédia americana que foi ao ar originalmente de 2005 a 2013. Ela foi adaptada de uma série de televisão britânica do mesmo nome criada por Ricky Gervais e Stephen Merchant. A versão americana foi desenvolvida por Greg Daniels e segue o estilo de um falso documentário, apresentando a vida cotidiana dos funcionários de um escritório da empresa fictícia Dunder Mifflin, localizado em Scranton, Pensilvânia.</p>

            <p>A série é filmada em estilo de mockumentary, onde os personagens frequentemente quebram a quarta parede, falando diretamente com a câmera, e os eventos são apresentados como se estivessem sendo documentados por uma equipe de filmagem. A trama gira em torno do gerente regional Michael Scott, interpretado por Steve Carell, e seus funcionários, que incluem personagens como Jim Halpert (John Krasinski), Pam Beesly (Jenna Fischer), Dwight Schrute (Rainn Wilson) e muitos outros.</p>

            <p>"The Office" é conhecida por seu humor seco, situações constrangedoras e diálogos afiados. Ela aborda uma variedade de temas relacionados ao ambiente de trabalho, relações interpessoais e amizades, enquanto também satiriza a cultura corporativa e burocrática.</p>

            <p>Ao longo de suas nove temporadas, "The Office" recebeu elogios da crítica e ganhou vários prêmios, incluindo um Globo de Ouro de Melhor Série de Televisão - Comédia ou Musical. A série também desenvolveu uma base de fãs leais e continua a ser amplamente assistida através de serviços de streaming e reprises de televisão. O humor atemporal e os personagens cativantes garantem que "The Office" permaneça uma favorita entre os fãs de comédia por muitos anos.</p>

            <p><strong>The Office</strong> está disponível para streaming na Netflix.</p>
        </div>
    </div>
</section>

<section class="serie-info">
    <div class="container">
        <img src="https://hips.hearstapps.com/hmg-prod/images/pedro-pascal-during-a-photo-call-at-piccadilly-circus-news-photo-1677610738.jpg?crop=0.668xw:1.00xh;0.171xw,0&resize=640:*" alt="The Mandalorian">
        <div class="serie-details">
            <h2>The Mandalorian</h2>
            <p>Esta série de ficção científica segue um solitário caçador de recompensas no universo de Star Wars, cinco anos após os eventos de "O Retorno de Jedi". Ele é encarregado de proteger uma misteriosa criança, conhecida como Baby Yoda.</p>

            <p>"The Mandalorian" é uma série de televisão de ficção científica e faroeste espacial criada por Jon Favreau. É parte do universo de "Star Wars" e foi lançada em 2019 como um dos primeiros programas originais do serviço de streaming Disney+.</p>

            <p>A série se passa após os eventos da trilogia original de "Star Wars" e antes da ascensão da Primeira Ordem. Ela segue um misterioso caçador de recompensas mandaloriano, conhecido apenas como "O Mandaloriano" ou "Mando", interpretado por Pedro Pascal, enquanto ele viaja pela galáxia em busca de trabalho e aventura. Durante uma de suas missões, Mando é encarregado de capturar um ser misterioso que acaba sendo uma criança da raça do Mestre Yoda, conhecida popularmente como "Baby Yoda" (oficialmente apelidada de Grogu mais tarde na série).</p>

            <p>Ao longo da série, Mando forma um vínculo com Grogu e se vê envolvido em uma série de perigosas situações enquanto tenta protegê-lo de várias ameaças, incluindo outros caçadores de recompensas, impérios criminosos e agentes do Império Galáctico remanescente.</p>

            <p>"The Mandalorian" recebeu elogios da crítica e do público por sua narrativa envolvente, personagens carismáticos, efeitos visuais de alta qualidade e homenagens à mitologia de "Star Wars". A série também introduziu elementos inovadores ao universo de "Star Wars", explorando diferentes gêneros dentro do contexto da galáxia distante.</p>

            <p>Além disso, "The Mandalorian" se destaca por sua produção visual impressionante, com paisagens e ambientes ricamente detalhados, bem como uma trilha sonora marcante composta por Ludwig Göransson.</p>

            <p>A série recebeu várias indicações e prêmios, incluindo prêmios Emmy, e gerou um grande sucesso entre os fãs de "Star Wars", ajudando a estabelecer o Disney+ como uma plataforma de streaming competitiva.</p>

            <p><strong>The Mandalorian</strong> está disponível para streaming no Disney+.</p>
        </div>
    </div>
</section>




<section class="serie-info">
    <div class="container">
        <img src="https://jornadageek.com.br/wp-content/uploads/2024/02/Rainha-das-Lagrimas.png" alt="The Mandalorian">
        <div class="serie-details">
            <h2>Rainha das Lágrimas</h2>
            <p>Prepare-se para uma jornada emocionante com "Rainha das Lágrimas", uma história de amor, traição e redenção. Acompanhe a vida de uma mulher extraordinária que enfrenta desafios inimagináveis em busca de justiça e vingança, enquanto luta para superar as lágrimas que marcaram sua trajetória.</p>
        </div>
    </div>
</section>


<section class="hero">
    <div class="container">
        <h2>chama no whatsApp</h2>
        <p>O melhor lugar para assistir seus filmes e séries favoritos.</p>
        
        <a href="https://wa.me/+5585997941038/?text=ola, estou enteressador!"class="btn">Enviar mensagem!</a>

        

    </div>
</section>

{% endblock series %}